langchain
langchain-openai
langchain-community
python-dotenv
langchain-core
streamlit
langchain-google-genai
langchain-ollama
uvicorn
fastapi
langserve
sse_starlette
ipykernel
bs4
pypdf
chromadb
faiss-cpu
langchain
langchain-text-splitters
imagine_langchain
